h1{
    padding-left:15px;
    font-size:3rem;
}
button{
    margin-top:20px;
    margin-left:10%;
    margin-right:10%;
    padding:20px;
    border-radius:10px;
}
img{
    float:left;
    height:100px;
    width:100px;
    margin-right:20px;
}
h2{
    margin-bottom:0;
    float:left;
}
p{
    margin-top:40px;
    text-align: left;
}
@media (max-width: 480px){
    h2{
        font-size:1.5rem;
    }
    p{
        font-size:10pt;
    }
}
@media(max-width:400px){
    h2{
        font-size:1.2rem;
    }
    img{
        width: 60px;
        height:60px;
    }
    p{
        font-size:10pt;
    }
}