body {
    background-color: #eee;
    max-width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: #ccc;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li > button {
    font-size: 20px;
    width: 90%;
    padding: 15px;
    margin: 5px 5px 5px 5%;
    border-radius: 10px;
    border: 2px solid #aaa;
    background-color: #fff;
}

li > button#play {
    font-size: 30px;
    padding: 25px;
}
