#login-box {
    max-width: 70vh;
    margin: auto;
}

#placements {
    max-width: 80vh;
}

#resume-button, #menu-button{
    position:fixed;
    width: 100px;
    height: 30px;
    margin-top: -12px;
    margin-left: -50px;
    display: none;
    border-radius: 10px;
}
#resume-button{
    top:50%;
    left:50%;
}
#menu-button{
    top : 60%;
    left:50%;
}

.achievement-list-item {
    margin-top:20px;
    margin-left:10%;
    margin-right:10%;
    padding:20px;
    border-radius:10px;
}
.achievement-list-img{
    float:left;
    height:100px;
    width:100px;
    margin-right:20px;
}
.achievement-list-title {
    margin-bottom:0;
    float:left;
}
.description{
    margin-top:40px;
    text-align: left;
}

#game-over-page {
    background-color: black;
}
#game-over {
    font-weight: bold;
    font-size: 50px;
}
#game-over-container {
    margin-top: 40vh;
}
#game-over-retry {
    font-size: 30px;
}

@media (max-width: 480px){
    .achievement-list-title {
        font-size:1.5rem;
    }
    .description {
        font-size:10pt;
    }
}
@media(max-width:400px){
    .achievement-list-title {
        font-size:1.2rem;
    }
    .achievement-img {
        width: 60px;
        height:60px;
    }
    .description {
        font-size:10pt;
    }
}

@media (min-width: 420px) {
    .jumbotron h1 {
        margin-right: 50px;
    }
}
